.col-md-2
  ul.list-group
    li.list-group-item
      strong
        = link_to 'トレンド', contents_path, class: 'glyphicon glyphicon-check'
    li.list-group-item
      strong
        = link_to 'タイムライン', timeline_content_path(current_user), class: 'glyphicon glyphicon-list'
    li.list-group-item
      strong
        = link_to 'タグフィールド', tag_field_content_path(current_user), class: 'glyphicon glyphicon-tags'
    li.list-group-item
      strong
        = link_to 'マイルストーン', mile_stone_content_path(current_user), class: 'glyphicon glyphicon-unchecked'
