<div class="col-md-2">
<ul class="list-group">
	<li class="list-group-item"><strong><%= link_to 'トレンド', contents_path, class: 'glyphicon glyphicon-check' %></strong></li>
	<li class="list-group-item"><strong><%= link_to 'タイムライン', timeline_content_path(current_user), class: 'glyphicon glyphicon-list' %></strong></li>
	<li class="list-group-item"><strong><%= link_to 'タグフィールド', tag_field_content_path(current_user), class: 'glyphicon glyphicon-tags' %></strong></li>
    <li class="list-group-item"><strong><%= link_to 'マイルストーン', mile_stone_content_path(current_user), class: 'glyphicon glyphicon-unchecked' %></strong></li>
</ul>
</div>

