= render 'left'
.col-md-7
  h5
    span.glyphicon.glyphicon-unchecked[aria-hidden="true"]
    |  マイルストーン
  div[style="color: #aaa;"]
    | 最もいいねの多い記事を10 個表示
  table.table.table-hover.table-inverse
    tbody
      - @contents.each do |content|
        tr
          td
            span[style="font-size: 20px; color: red;"]
              = content.favorites.count
            |  いいね 
            br
            = link_to(content.user) do
              = attachment_image_tag(content.user, :profile_image, fallback: 'qiita.jpeg', size:'50x50')
              |  <ruby code=" end %>
              = link_to(content) do "> 
              -         <%= content.title
              |  (
              = time_ago_in_words(content.created_at)
              | 前) 
            = link_to(content.user) do
              span[style="color: #aaa;"]
                | by 
                = content.user.name
              |  <ruby code=" end %> 
              br
              = link_to(content) do ">
              -         <%= link_to "#{content.comments.count} コメント", content_path(content.id)
= render 'right'
