.col-md-3
  = attachment_image_tag(@user, :profile_image, fallback: 'qiita.jpeg', size:'200x200')
  br
  h3
    strong
      = @user.last_name
      = @user.first_name
  - if @user.check_email == true
    span.glyphicon.glyphicon-envelope[aria-hidden="true"]
    = @user.email
    br
  span.glyphicon.glyphicon-list-alt[aria-hidden="true"]
  = @user.company
  br
  span.glyphicon.glyphicon-cloud-download[aria-hidden="true"]
  = @user.from
  br
  - if @user.id == current_user.id
    = link_to 'プロフィールを編集する', edit_user_path, class: 'glyphicon glyphicon-cog'
.col-md-6
  table.table.table-hover.table-inverse

  h1
    strong
      span.glyphicon.glyphicon-pencil[aria-hidden="true"]
      |  このユーザーの投稿一覧
  tbody
    - @contents.each do |content|
      tr
        td
          = link_to(content) do
            = content.title
            |  (
            = content.created_at.strftime('%Y/%m/%d')
            | ) 
            br
            = link_to "#{content.comments.count} コメント", content_path(content.id)
  = paginate @contents, class: "paginate"
.col-md-3
  h3
    strong
      span.glyphicon.glyphicon-hand-up[aria-hidden="true"]
      = @user.follow_count
      = link_to "フォロー", {controller: :users,action: :follow_list,user_id: @user.id}, method: :get
  br
  h3
    strong
      span.glyphicon.glyphicon-thumbs-up[aria-hidden="true"]
      = @user.followers_count
      = link_to "フォロワー", {controller: :users,action: :follower_list,user_id: @user.id}, method: :get
  - if current_user.id != @user.id
    = render 'follow_form'
