.row[style="margin-top: 35px;"]
  .col-md-12[style="background-color: #3e3e3e; height: 240px;"]
    .col-md-3
      h1[style="font-size: 60px; color: white;"]
        | Qiita
      br
      br
      p.white
        |  How developers code is here. 
      br
      br
      p.ori
        | ©︎2011-2020 Increments Inc.
    .col-md-3
      p.white.ue[style="margin-top: 50px;"]
        strong
          | Qiita
      a.ori.ma.y[href="https://qiita.com/about"]
        | about
      a.ori.ma[href="https://qiita.com/api/v2/docs"]
        | API
      br
      br
      a.ori.ma.y[href="https://qiita.com/terms"]
        | 利用規約
      a.ori.ma[href="https://qiita.com/feedback/new"]
        | ご意見
      br
      br
      a.ori.ma.y[href="https://qiita.com/privacy"]
        | プライバシー
      a.ori.ma[href="https://help.qiita.com/"]
        | ヘルプ
      br
      br
      a.ori.ma.y[href="https://help.qiita.com/ja/articles/qiita-community-guideline"]
        | ガイドライン
      a.ori.ma[href="https://qiita.com/ads?utm_source=qiita&utm_medium=referral&utm_content=footer"]
        | 広告掲載
    .col-md-offset-1
    .col-md-3
      p.white.ue[style="margin-top: 50px;"]
        strong
          | Increments
      a.ori.ma.y[href="https://increments.co.jp/company/"]
        | about
      a.ori.ma[href="https://teams.qiita.com/"]
        | Qiita Team
      br
      br
      a.ori.ma.y[href="https://increments.co.jp/jobs/"]
        | 採用情報
      a.ori.ma[href="https://jobs.qiita.com/?utm_source=qiita&utm_medium=referral&utm_content=footer"]
        | Qiita Jobs
      br
      br
      a.ori.ma.y[href="https://blog.qiita.com/"]
        | ブログ
      a.ori.ma[href="https://zine.qiita.com/?utm_source=qiita&utm_medium=referral&utm_content=footer"]
        | Qiita Zine
      br
      br
