<div class="row" style='margin-top: 35px;'>
<div class="col-md-12" style='background-color: #3e3e3e; height: 240px;'>
<div class = "col-md-3">
<h1 style="font-size: 60px; color: white;">Qiita</h1>  <br> <br>
<p class="white"> How developers code is here. </p> <br> <br>
<p class="ori">©︎2011-2020 Increments Inc.</p>
</div>

<div class="col-md-3">
<p class="white ue" style="margin-top: 50px;"><strong>Qiita</strong></p>
<a href="https://qiita.com/about" class="ori ma y">about</a>     <a href="https://qiita.com/api/v2/docs" class="ori ma">API</a> <br> <br>
<a href="https://qiita.com/terms" class="ori ma y">利用規約</a><a href="https://qiita.com/feedback/new" class="ori ma">ご意見</a> <br> <br>
<a href="https://qiita.com/privacy" class="ori ma y">プライバシー</a></a><a href="https://help.qiita.com/" class="ori ma">ヘルプ</a> <br> <br>
<a href="https://help.qiita.com/ja/articles/qiita-community-guideline" class="ori ma y">ガイドライン</a></a><a href="https://qiita.com/ads?utm_source=qiita&utm_medium=referral&utm_content=footer" class="ori ma">広告掲載</a>
</div>
<div class="col-md-offset-1"></div>
<div class="col-md-3">
<p class="white ue" style="margin-top: 50px;"><strong>Increments</strong></p>
<a href="https://increments.co.jp/company/" class="ori ma y">about</a>     <a href="https://teams.qiita.com/" class="ori ma">Qiita Team</a> <br> <br>
<a href="https://increments.co.jp/jobs/" class="ori ma y">採用情報</a><a href="https://jobs.qiita.com/?utm_source=qiita&utm_medium=referral&utm_content=footer" class="ori ma">Qiita Jobs</a> <br> <br>
<a href="https://blog.qiita.com/" class="ori ma y">ブログ</a></a><a href="https://zine.qiita.com/?utm_source=qiita&utm_medium=referral&utm_content=footer" class="ori ma">Qiita Zine</a> <br> <br>
</div>
</div>
</div>
