- if user_signed_in?
  nav.navbar.navbar-light[style="background-color: pink;"]
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed[type="button" data-toggle="collapse" data-target="#Navber" aria-expanded="false"]
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #Navber.collapse.navbar-collapse
        ul.nav.navbar-nav
          = link_to 'Qiita', contents_path, class: 'navbar-brand'
          li.dropdown
            a.dropdown-toggle[href="#" data-toggle="dropdown"]
              | ホーム
              span.caret
            ul.dropdown-menu
              li
                = link_to 'トレンド', contents_path, class: 'glyphicon glyphicon-check'
          li.dropdown
            a.dropdown-toggle[href="#" data-toggle="dropdown"]
              | コミュニティ
              span.caret
            ul.dropdown-menu
              li
                = link_to 'ユーザー一覧', users_path
        .navbar-right
          = link_to '投稿する', new_content_path, class: 'navbar-brand glyphicon glyphicon-new-window'
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle[href="#" data-toggle="dropdown"]
                span.caret
              ul.dropdown-menu
                li
                  = link_to 'マイページ', user_path(current_user)
                li.divider[role="separator"]
                li
                  = link_to '下書き一覧(draft)', confirm_content_path(current_user)
                li
                  a[href="#"]
                    | 編集リクエスト一覧
                li.divider[role="separator"]
                li
                  a[href="#"]
                    | 設定
                li
                  a[href="#"]
                    | ヘルプ
                li.divider[role="separator"]
                li
                  = link_to ' ログアウト', destroy_user_session_path, method: :delete,class: 'glyphicon glyphicon-log-out logout'
- else
